body {
  font-family: Apercu, "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 300;
  color: #444452;
  letter-spacing: 2px;
}

/* Container */

.container-fluid {
  padding: 15% 35% 15% 20%;
  text-align: left;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
  float: right;
  margin: none;
}

.nav-item {
  padding: 2rem 1rem;
}

.nav-link:hover {
  border-bottom: 1px #007dff solid;
  margin-top: 2px;
}

.navbar-toggler {
  border: none;
  width: 3rem;
  display: inline-block;
}

/* Header Section */

.header-greeting {
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 6rem;
}

.golee {
  font-weight: 600;
}

.waving-hand-image {
  width: 2.5rem;
  height: auto;
  margin: 0 0 20px 5px;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-name: waving-hand;
}

@keyframes waving-hand {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.technologist-image {
  width: 2.5rem;
  height: auto;
  margin: 0 0 20px 5px;
}

#get-in-touch {
  font-size: 1.4rem;
  float: left;
  margin: 0;
}

.pointing-right-image {
  width: 2rem;
  height: auto;
  padding-bottom: 5px;
  margin-right: 10px;
}

#fill-email {
  border: none;
  padding: 0 5px;
  background-color: #fff !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}

#golee-email {
  color: #383736;
  text-decoration: none;
  border-bottom: 3px #007dff solid;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 0 5px;
  box-shadow: inset 0px 0px 0px #007dff;
  transition: all 0.5s !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#golee-email:hover {
  color: #fff;
  box-shadow: inset 0px -80px 0px #007dff;
}

/* Background Section */

#background .container-fluid {
  padding: 5% 25% 10% 20%;
  text-align: left;
}

/* Skills Section */

#skills .container-fluid {
  padding: 5% 25% 10% 20%;
  text-align: left;
}

.section-title {
  font-weight: 600;
  color: #007dff;
  margin: 0;
  padding: 0;
  text-align: right;
}

.section-content-title {
  font-weight: 600;
  margin-bottom: 2rem;
}

.section-content {
  padding: 0 3rem;
  line-height: 1.5;
}

.section-content-list {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

/* Projects Section */

#projects .container-fluid {
  padding: 5% 25% 10% 20%;
  text-align: left;
}

/* Footer Section */
#footer {
}

.social-icon {
  margin: 20px 10px;
}

.robot-image {
  width: 2rem;
  height: auto;
  margin-bottom: 0.5%;
}

#footer-pointing .pointing-up {
  width: 2.5rem;
  height: auto;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

#footer-pointing .pointing-up:hover {
  margin-bottom: 5px;
  transition: 0.1 ease-in-out;
}
