/* General Settings */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Nanum+Gothic:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff !important;
  color: #000 !important;
  font-family: 'Nanum Gothic', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  background-color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

::-moz-selection {
  background: #ffa41b !important;
  color: #fafaf6 !important;
}

::selection {
  background: #ffa41b !important;
  color: #fafaf6 !important;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}